<div class="publications">
  {% bibliography --group_by none --query @2026RAA....26f2001C %}
  {% bibliography --group_by none --query @2025ApJ...993L..57C %}
  {% bibliography --group_by none --query @2025MNRAS.544.3883C %}
  {% bibliography --group_by none --query @2025MNRAS.544L..89C %}
</div>
